@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: #FFF;
}

#contents_ {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.title_ {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 브라우저 높이 전체 사용 */
    margin: 0;
}

.clock_img_ {
    position: relative;
    width: 300px;
    height: 300px;
    top: 10px;
    align-self: center;
    place-items: center;
}

.title_img_ {
    position: absolute;
}

.title_img_>img {
}

.quotes_ {
    position: absolute;
    align-self: center;
    left:50%;
}