@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

body {
    background-color: #662d91;
    text-align: center;
    color:white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.content {
    justify-content: center;
    align-content: center;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    margin: 50px
}

.clock_image {
    width: 260px;
    position: relative;
    align-self: center;
    justify-self: center;
    left: calc(50% - 130px);
}

.title_word {
    width: 540px;
    position: absolute;
    align-self: center;
    left: calc(50% - 270px);
}

.intro {
    margin: 20px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color:#fcee21;
    font-family: 'Nanum Brush Script';
}

.explain {
    position:relative;
}

.quates {
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 600px;
    left: calc(50% - 300px);
    top: 470px;
}

.bold_text {
    font-weight: 800;
    font-size: 25px;
}

.input {
    margin-top: 100px;
    padding: 10px;
}

input {
    width: 220px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    border: 0   ;
    border-radius: 15px;
    padding-left: 15px;
}

.ok_btn_space {
    margin-top: 100px;
}

#ok_btn {
    width: 500px;
    height: 60px;
    color: #662d91;
    font-weight: 900;
    font-size: 20px;
    background-color: #fcee21;
    border: 0;
    border-radius: 30px;
}

.pointer {
    position: absolute;
    height: 60px;
}


.copyright {
    margin-top: 100px;
    font-size: 10px;
}

.output {
    margin-top: 100px;
}

.result-line {
    font-size: 30px;
}

.result-var {
    font-size: 60px;
}