body {
    background-color: blueviolet;
}

.content {
    justify-content: center;
    align-content: center;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    margin: 20px
}

.clock_image {
    width: 30%;
    position: relative;
    align-self: center;
    justify-self: center;
    left: 35%;
}

.title_word {
    width: 60%;
    position: absolute;
    align-self: center;
    left: 20%;
}

.intro {
    
}

.quates {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 50%;
    left: 25%;
}